.round-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.my-blue .v-input__slot {
  background-color: blue !important;
}
.my-blue .v-select__selection {
  color: white !important;
}
.my-blue .v-icon {
  color: white !important;
}
.my-red .v-input__slot {
  background-color: red !important;
}
.my-red .v-select__selection {
  color: white !important;
}
.my-red .v-icon {
  color: white !important;
}
.my-yellow .v-input__slot {
  background-color: yellow !important;
}
.my-yellow .v-select__selection {
  color: black !important;
}
.my-yellow .v-icon {
  color: black !important;
}
.my-white .v-input__slot {
  background-color: white !important;
}
.my-white .v-select__selection {
  color: black !important;
}
.my-white .v-icon {
  color: black !important;
}
.my-black .v-input__slot {
  background-color: black !important;
}
.my-black .v-select__selection {
  color: white !important;
}
.my-black .v-icon {
  color: white !important;
}
.my-score {
  margin: 0 !important;
  border-radius: 5px 5px 0 0;
}
.my-score .v-select__selection {
  margin-left: 5px;
}
.box {
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  padding: 0 15px 0 15px;
}
.my-dark-app {
  background-image: url('~/assets/Armin\(1\).jpeg');
  background-size: cover;
}
.my-light-app {
  background-image: url('~/assets/Armin\(2\).jpeg');
  background-repeat: repeat;
  background-size: contain;
}